*{box-sizing:border-box; padding:0; margin:0;}
.clr{clear:both}
.wrap{width:1000px; margin:20px auto; position:relative;}

/*===HEADER===*/

header.head{width:100%; overflow:hidden; background:#4d4d4d}
header.head form{padding-right:41px; float:right; line-height:50px}
header.head form input{width:130px; height:19px}
ul.firstul{padding-right:40px; float:right}
ul.firstul li{display:inline-block; list-style:none; line-height:50px}
ul.firstul li a{padding:0 5px 0 5px}
ul.secondul{padding-right:36px; float:right}
ul.secondul li{display:inline-block; list-style:none; line-height:50px}
ul.secondul li a{text-decoration:none; font-size:18px; padding:0 15px 0 15px; color:#fff}
ul.secondul li a:hover{text-decoration:underline}
img.logo{position:absolute; top:12px; left:43px; z-index:100}

/*===SUB-MANU===*/

ul.secondul > li > .sub-manu{width:315px; position:absolute; top:36px; background:url(../image/home/sub-bg.png) no-repeat; z-index:1000; display:none}
ul.secondul > li:hover .sub-manu{display:block}
ul.secondul > li > .sub-manu .sub-first p{
    padding:23px 0 0 13px;
    color:#fff;
    font-size:13px;
    font-family: 'Lato', sans-serif;
    //letter-spacing:1px;
    line-height:normal;
}
ul.secondul > li > .sub-manu .sub-second{padding-top:14px; line-height:normal}
ul.secondul > li > .sub-manu .sub-second select{width:140px; height:32px; margin-left:11px; background:rgba(255,255,255,.03); color:#cfab7a; font-size:12.2px}
ul.secondul > li > .sub-manu .sub-thrd{margin-top:9px; line-height:normal; background:url(../image/home/hr.png) no-repeat; background-position:11px 0}
ul.secondul > li > .sub-manu .sub-thrd .girl{padding:12px 0 0 25px; float:left}
ul.secondul > li > .sub-manu .sub-thrd .thrd-sub{padding:20px 0 0 119px;}
ul.secondul > li > .sub-manu .sub-thrd .thrd-sub h3{font-size:15px; line-height:16px; color:#fff; font-family: 'Lato', sans-serif; font-weight:600}
ul.secondul > li > .sub-manu .sub-thrd .thrd-sub p{padding-top:2px; font-size:15px; line-height:15px; color:#fff; font-family: 'Lato', sans-serif;}
ul.secondul > li > .sub-manu .sub-thrd .thrd-sub p span{font-size:11px; line-height:15px}
ul.secondul > li > .sub-manu .sub-thrd .thrd-sub ul li{list-style:none; display:inline-block; color:#fff; line-height:13px; font-size:11px}
ul.secondul > li > .sub-manu .sub-thrd .thrd-sub ul li a{font-size:11px; color:#fff; padding-right:5px}
ul.secondul > li > .sub-manu .sub-thrd .thrd-sub .arrow{position:absolute; right:13px; top:135px}

ul.secondul > li > .sub-manu .sub-four{margin-top:20px; padding-bottom:20px; line-height:normal; background:url(../image/home/hr.png) no-repeat; background-position:11px 0}
ul.secondul > li > .sub-manu .sub-four .girl{padding:12px 0 0 25px; float:left}
ul.secondul > li > .sub-manu .sub-four .four-sub{padding:20px 0 0 119px;}
ul.secondul > li > .sub-manu .sub-four .four-sub h3{font-size:15px; line-height:16px; color:#fff; font-family: 'Lato', sans-serif; font-weight:600}
ul.secondul > li > .sub-manu .sub-four .four-sub p{padding-top:2px; font-size:15px; line-height:15px; color:#fff; font-family: 'Lato', sans-serif;}
ul.secondul > li > .sub-manu .sub-four .four-sub p span{font-size:11px; line-height:15px}
ul.secondul > li > .sub-manu .sub-four .four-sub ul li{list-style:none; display:inline-block; color:#fff; line-height:13px; font-size:11px}
ul.secondul > li > .sub-manu .sub-four .four-sub ul li a{font-size:11px; color:#fff; padding-right:5px}
.arrow2{position:absolute; right:13px; bottom:40px}

/*===MAINCONT===*/

.maincont{width:100%; min-height:892px; background-image: url(../image/contact-us/bg.jpg);}

/*===NAVBAR===*/

.nav{width:100%; overflow:hidden; background:rgba(255,255,255,.6)}
.nav ul{margin-right:32px; float:right}
.nav ul li{display:inline-block; list-style:none; line-height:49px;}
.nav ul li a{padding:0 10px 0 9px; text-decoration:none; font-size:11px; color:#103a6a; font-family: 'Lato', sans-serif;}
.nav ul li:last-child a{color:#000}

/*===LEFT SIDE===*/

.cont{width:909px; margin:38px 0 0 50px}

.cont .float{float:left}

.cont .form{width:561px; background:rgba(255,255,255,.7)}
.cont .form .pone{padding:23px 0 0 20px; font-size:14px; line-height:15px; font-family: 'Lato', sans-serif; font-weight:500; color:#1c1c1c}
.cont .form .pone span{color:#f00}

.cont .form h4{padding:27px 0 0 20px; font-size:14px; line-height:15px; color:#1c1c1c; font-family: 'Lato', sans-serif; font-weight:500}

.cont .form .name{padding:20px 0 0 20px}
.cont .form .name .span1{padding-right:4px; color:#f00}
.cont .form .name .span2{padding-right:76px; font-size:14px; line-height:22px; color:#5c5c5c; font-family: 'Lato', sans-serif;}
.cont .form .name input{width:193px; height:22px}

.cont .form .email{padding:12px 0 0 20px}
.cont .form .email .span1{padding-right:4px; color:#f00}
.cont .form .email .span2{padding-right:20px; font-size:14px; line-height:22px; color:#5c5c5c; font-family: 'Lato', sans-serif;}
.cont .form .email input{width:193px; height:22px}

.cont .form .state{padding:12px 0 0 20px}
.cont .form .state span{padding-right:92px; font-size:14px; line-height:22px; color:#5c5c5c; font-family: 'Lato', sans-serif;}
.cont .form .state select{width:193px; height:22px; font-size:12px; color:#5c5c5c}

.cont .form .code{padding:12px 0 0 20px}
.cont .form .code span{padding-right:69px; font-size:14px; line-height:22px; color:#5c5c5c; font-family: 'Lato', sans-serif;}
.cont .form .code input{width:193px; height:22px}

.cont .form .phone{padding:12px 0 0 20px}
.cont .form .phone span{padding-right:32px; font-size:14px; line-height:22px; color:#5c5c5c; font-family: 'Lato', sans-serif;}
.cont .form .phone input{width:193px; height:22px}

.ptwo{padding:23px 0 0 20px; font-size:14px; line-height:16px; color:#5c5c5c; font-family: 'Lato', sans-serif;}

.label{padding:13px 0 0 20px}
.label input{width:13px; height:13px}
.label label{font-size:14px; line-height:18px; font-family: 'Lato', sans-serif; color:#5c5c5c}

.pthree{padding:23px 0 0 20px; font-size:14px; line-height:20px; color:#5c5c5c; font-family: 'Lato', sans-serif;}
 
.form #text{margin:5px 0 0 20px; width:350px; height:108px}

.pfour{padding:25px 0 0 20px; font-size:14px; line-height:16px; color:#5c5c5c; font-family: 'Lato', sans-serif;}

.igree{padding:15px 0 0 20px}
.igree input{width:13px; height:13px}
.igree span{padding:0 2px 0 5px; color:#f00}
.igree label{font-size:14px; line-height:16px; color:#5c5c5c; font-family: 'Lato', sans-serif;}

.submit{padding:20px 0 35px 46px}
.submit .bt1{width:63px; height:27px; background:#003e7e; color:#fff; border:none}
.submit .bt2{width:67px; height:27px; background:#2f2f2f; color:#fff; border:none}

/*===RIGHT SIDE===*/

.rgtsid{width:348px; background:rgba(220,220,220,.5)}
.rgtsid .pfirst{padding:20px 0 0 22px; font-size:14px; line-height:20px; font-family: 'Lato', sans-serif;}
.rgtsid .psecond{padding:20px 0 0 22px; font-size:14px; line-height:20px; color:#5c5c5c; font-family: 'Lato', sans-serif;}
.rgtsid img{margin:34px 0 308px 22px}

/*===FORM===*/

.ftr{width:100%; position:absolute; bottom:0; left:0;}
.ftrcont{width:100%; background:#eeeeed;}
.ftrcont img{margin-top:15px; padding-right:40px; float:right;}
.ftrcont p{padding-right:15px; float:right; font-size:10px; line-height:52px; color:#575757}
.ftrcont span{padding-left:40px; float:left; font-size:10px; line-height:52px; color:#575757}